.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #64ffda;
  color: #0a192f;
  font-family: 'Raleway', Arial, sans-serif;
}

#app {
  height: 100%;
}

a {
  color: #4e4a46;
  text-decoration: none;
}

a:hover, a:focus {
  color: #c94e50;
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
}
